@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
  font-family: "Fira Code";
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  margin: 0;
  background-color: aliceblue;
  text-align: center;
  font-size: 1.88rem;
  color: darkgrey;
  position:fixed;
  width: 100%;
}

h1 .highlight {
  color: black;
}

h2 {
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 5% 17% 10% 17%;
  /* background-image: url('./background_photo_desktop.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  color: #fff;
  z-index: 3;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
  .SearchBar {
    margin-top: 2rem;
  }
  .App {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}